<div class="modal-header">
    <div class="modal-title" id="modal-title">
        <h3>เลือกเอกสาร Sale Order</h3>
        <small class="help help-block">คลิกเพื่อเลือกรายการ</small>
        </div>
    <div class="modal-body" id="modal-body">
        <div class="row">
            <div class="col-sm-6 input-group pull-right">
                <input type="text" 
                       ng-model="mctrl.modalSearch"
                       class="form-control input-sm"></input>
                <span class="input-group-btn">
                    <button class="btn btn-default btn-sm"
                            ng-click="mctrl.loadData()"
                            >ค้นหา</button>
                </span>
            </div>
        </div>        
        <div class="row">
            <div class="col-sm-12">
                <h5>1. เลือก Sale Order:</h5>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>เลือก</th>
                            <th>
                                <a href="javascript:void(0)" ng-click="mctrl.sortToggle('name')">เลขที่เอกสาร</a>
                                </th>
                            <th>
                                <a href="javascript:void(0)" ng-click="mctrl.sortToggle('date_order')">วันที่</a>
                                </th>
                            <th>
                                กำหนดส่ง
                            </th>
                            <th>
                                <a href="javascript:void(0)" ng-click="mctrl.sortToggle('partner')">ลูกค้า</a>
                            </th>
                            <th>
                                <a href="javascript:void(0)" ng-click="mctrl.sortToggle('amount_total')">มูลค่า</a>
                            </th>
                            <th>
                                สถานะ
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="so in mctrl.saleOrders" ng-click="mctrl.onSelectSO(so)">
                            <td><span ng-show="so.selected" class="label label-info">เลือก</span></td>
                            <td>{{so.name}}</td>
                            <td>{{so.date_order | date}}</td>
                            <td>{{so.date_schedule | date}}</td>
                            <td>{{so.partner.name}}</td>
                            <td>{{so.amount_total | number:3}}</td>
                            <td>{{so.state}}</td>
                        </tr>
                    </tbody>
                </table>
                <h5>2. เลือกสินค้า:</h5>
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>เลือก</th>
                            <th>รหัสสินค้า</th>
                            <th>ชื่อรายการ</th>
                            <th>จำนวนสั่ง</th>
                            <th>ส่งแล้ว</th>
                            <th>ค้างส่ง</th>
                            <th>หน่วย</th>
                            <th>ราคาต่อหน่วย</th>
                            <th>ส่วนลด</th>
                            <th>ภาษี </th>
                            <th>มูลค่า</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="line in mctrl.saleOrderLines" ng-click="mctrl.onSelectLine(line)">
                            <td>
                                <span ng-show="line.selected" class="label label-info">เลือก</span>
                            </td>
                            <td>{{line.product.default_code}}</td>
                            <td>{{line.name}}</td>
                            <td>{{line.product_uom_qty | number: 3}}</td>
                            <td>{{line.invoiced_qty | number: 3}}</td>
                            <td>{{line.remaining_qty | number: 3}}</td>
                            <td>{{line.uom.name}}</td>
                            <td>{{line.price_unit | number: 3 }}</td>
                            <td>{{line.discount_amount | number: 3}}</td>
                            <td>{{ line.amount_tax | number: 3 }} <br>
                                <span class="label label-info">{{line.tax.name}}</span>
                            </td>
                            <td>{{(line.remaining_qty*line.price_unit) - line.discount_amount | number:3}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>           
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="mctrl.done()">ตกลง</button>
        <button class="btn btn-warning" type="button" ng-click="mctrl.cancel()">ปิด</button>
    </div>
</div>
