<button type="button" 
        ng-click="ctrl.openModal()"
        class="btn btn-primary btn-sm">
        {{ctrl.title}}
</button>
<script type="text/ng-template" id="productModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">เลือกสินค้า/วัตถุดิบ</h3>
        <div class="modal-body" id="modal-body">
            <div class="row">
                <div class="col-sm-6 input-group pull-right">
                    <input type="text" 
                           ng-model="mctrl.modalSearch"
                           ng-keyup="$event.keyCode == 13 && mctrl.loadData()"
                           class="form-control input-sm"></input>
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-sm"
                                ng-click="mctrl.loadData()"
                                >ค้นหา</button>
                                
                    </span>
                    
                </div>
                <small class="help help-block">ค้นหาด้วย ชื่อสินค้า หรือ รหัสสินค้า</small>
            </div>        
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>เลือก</th>
                                <th>
                                    <a href="javascript:void(0)" ng-click="mctrl.sortToggle('default_code')">รหัส</a>
                                    </th>
                                <th>
                                    <a href="javascript:void(0)" ng-click="mctrl.sortToggle('name')">ชื่อสินค้า</a>
                                    </th>
                                <th>
                                    <a href="javascript:void(0)" ng-click="mctrl.sortToggle('name_en')">ชื่อสินค้า(EN)</a>
                                </th>
                                <th>
                                    <a href="javascript:void(0)" ng-click="mctrl.sortToggle('categ_id')">กลุ่ม</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="p in mctrl.products" ng-click="mctrl.addSelect(p)">
                                <td>
                                    <span ng-show="p.selected" class="label label-info">selected</span>
                                    <button 
                                        ng-show="p.selected==null"
                                        class="btn btn-default btn-sm">เลือก</button></td>
                                <td>{{p.default_code}}</td>
                                <td>{{p.name}}</td>
                                <td>{{p.name_en}}</td>
                                <td>{{p.categ.name}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>           
        </div>
        <ul uib-pagination boundary-links="true"
            total-items="mctrl.totalItems"
            ng-change="mctrl.pageChanged()"
            ng-model="mctrl.currentPage"
            items-per-page="mctrl.itemsPerPage"
            max-size="5"
            num-pages="numPages"
            class="pagination-sm"
            previous-text="&lsaquo;" 
            next-text="&rsaquo;" 
            first-text="&laquo;" 
            last-text="&raquo;">
        </ul>
        <pre> หน้า {{ mctrl.currentPage }} / {{ numPages}} </pre>
        <div class="modal-footer">
            <button class="btn btn-success" type="button" ng-click="mctrl.done()">ตกลง</button>
            <button class="btn btn-warning" type="button" ng-click="mctrl.cancel()">ปิด</button>
        </div>
    </div>
</script>